.ui-fixed-hidden{
  position: fixed;
}
.footer ul {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 40px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer ul li {
  display: inline-block;
  width: 25%;
  height: 60px;
  background: #DA4453;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.footer ul .slider {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #46CFB0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*  Ripple */


.footer ul .ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.footer ul .rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}
 @-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
 @keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
.ui-footer-fixed ul {
	margin: 0;
}
.content{
  width: 100%;
	position: absolute;
	opacity: 1;
}
.act{
	left:0%;
	transition: .3s ;
}
.next{
	left:100%;
	transition: .3s ;
}
.pre{
	left:-100%;
	transition: .3s ;
}
